body {

    background-image: url("https://tailwindui.com/img/beams-home@95.jpg");
    background-size: cover;

}
.arrState {

    width: 50%;
    margin: 5rem auto;
    input {
        width: 100%;
    }
}

